@import url('https://fonts.googleapis.com/css?family=Piazzolla:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900|Caveat:wght@400;500;600;700|Alegreya:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');

/*Configure the tab buttons*/
.sheet-character,
.sheet-stats,
.sheet-skills,
.sheet-inv,
.sheet-prayers,
.sheet-magic,
.sheet-rest,
.sheet-level {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="stats"] ~ div.sheet-stats,
.sheet-tabstoggle[value="skills"] ~ div.sheet-skills,
.sheet-tabstoggle[value="inv"] ~ div.sheet-inv,
.sheet-tabstoggle[value="rest"] ~ div.sheet-rest,
.sheet-tabstoggle[value="magic"] ~ div.sheet-magic,
.sheet-tabstoggle[value="prayers"] ~ div.sheet-prayers,
.sheet-tabstoggle[value="level"] ~ div.sheet-level {
	display: block;
}

.sheet-select-chooser,
.sheet-select-chooser1,
.sheet-select-chooser2,
.sheet-select-chooser3,
.sheet-select-chooser4,
.sheet-select-chooser5,
.sheet-select-chooser6,
.sheet-select-chooser7,
.sheet-select-chooser8,
.sheet-select-chooser9,
.sheet-select-chooser10,
.sheet-inventory {
    display: none;
}

.sheet-select-chooser:checked + .sheet-inventory,
.sheet-select-chooser1:checked + .sheet-inventory,
.sheet-select-chooser2:checked + .sheet-inventory,
.sheet-select-chooser3:checked + .sheet-inventory,
.sheet-select-chooser4:checked + .sheet-inventory,
.sheet-select-chooser5:checked + .sheet-inventory,
.sheet-select-chooser6:checked + .sheet-inventory,
.sheet-select-chooser7:checked + .sheet-inventory,
.sheet-select-chooser8:checked + .sheet-inventory,
.sheet-select-chooser9:checked + .sheet-inventory,
.sheet-select-chooser10:checked + .sheet-inventory {
    display: inline;
}

.sheet-container {
  min-height: calc((1vw + 1vh) * 75);
  /* center page with absolute position */
  margin: 1em 0;
    padding: 2em;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #F3E0B5 url(https://user-images.githubusercontent.com/58920692/99795353-8c24be00-2b23-11eb-9196-57d85b577623.PNG) right top/10% repeat-y;
  filter: url(#wavy2);
  font-family: 'Piazzolla', serif;
}

.sheet-section {
    margin-top: 6px;
    margin-bottom: 6px;
    color: #201821;
}

.sheet-list-none {
    list-style-type: none;
}

.sheet-list-none b {
    font-weight: 900;
}

.sheet-statpoints {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sheet-statpoints-ab {
    display: flex;
    align-items: center;
}

.sheet-lev-list {
    font-weight: 700;
    text-align: center;
}

.sheet-lev {
    font-weight: 700;
}

.sheet-list {
    font-weight: 600;
    font-size: 12px;
}

.sheet-check-tag {
    font-weight: 600;
    font-size: 10px;
}

.sheet-left {
    padding-left: 10px;
}

.sheet-right {
    text-align: right;
}

.sheet-list span {
    font-weight: 800;
}

.sheet-list ul {
    margin: auto;
}

label {
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: 1em;
    width: auto;
    display: flex;
    font-weight: normal;
}

input[type=text] {
    width: 100%;
    font-size: 0.9em;
    text-shadow: inherit;
    border-radius: 0;
    box-shadow: none;
    min-height: 22px;
    padding: 3px 3px 0px 5px;
    margin: 3px 0 0;
    color: #481d09;
    font-weight: 700;
    background-color: #f7efdc;
    border: 1px solid #64553B;
    border-left: none;
    border-right: none;
}

input[type=number] {
    width: 3em !important;
  font-size: 0.9em;
  color: #481d09;
  text-shadow: inherit;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none;
  min-height: 22px;
  padding: 3px 3px 0px 5px;
  margin: 3px 0 0;
  font-weight: 700;
    background-color: #f7efdc;
    border: 1px solid #64553B;
    border-left: none;
    border-right: none;
}

select {
  width: 100%;
  font-size: 1em;
  font-weight: 700;
  color: #481d09;
  text-shadow: inherit;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none;
  height: 18px;
  min-height: 22px;
  padding: 3px 3px 0px 5px;
  margin: 3px 0 0;
      background-color: #f7efdc;
    border: 1px solid #64553B;
    border-left: none;
    border-right: none;
}

.sheet-inventory {
    white-space: pre-wrap;
    text-overflow: ellipsis;
    width: 100%;
    height: 40px;
}

textarea {
    width: 100%;
    font-size: 0.9em;
    text-shadow: inherit;
    border-radius: 0;
    box-shadow: none;
    height: 50px;
    padding: 3px 3px 0px 5px;
    margin: 3px 0 0;
    color: #481d09;
    font-weight: 700;
    background-color: #f7efdc;
    border: 1px solid #64553B;
    border-left: none;
    border-right: none;
}

.sheet-label,
input.sheet-label,
textarea.sheet-label {
    text-align: justify;
    font-size: 14px;
    font-weight: 900;
    color: #ad4e22;
    font-variant: small-caps;
}

.sheet-label-info,
input.sheet-label-info,
textarea.sheet-label-info {
    font-style: italic;
    text-align: justify;
    font-size: 1.2em;
    font-weight: 900;
    color: #A14426;
    font-family: 'Caveat', cursive;
}

.sheet-title {
    font-size: 1.2em;
    font-weight: 900;
    font-family: 'Alegreya', serif;
    font-variant: small-caps;
}

.sheet-divider {
    border-bottom: 2px solid #c7aa86;
    margin: 0px 90px;
}

.sheet-box {
    border: 2px solid #c7aa86;
    border-radius: 3px;
    padding: 5px;
    background: #F7E2BE;
}

h4 {
    color: #9e4d12;
    text-align: center;
    font-variant: small-caps;
    font-family: 'Alegreya', serif;
    font-size:1.4em;
    font-weight: 800;
    padding: 5px 0px 5px 0px;
}

.sheet-type-button {
  border: 1px #2D3850 solid;
  padding: 4px;
  margin: 4px;
  cursor: pointer;
  width: 100px;
  text-align: center;
  display: block;
}

/* Rollbuttons */

button[type="roll"].sheet-skill-button,
 button[type="action"].sheet-skill-button {
  border: none;
  margin: 0;
  padding: 0;
  text-shadow: none;
  background: transparent;
  box-shadow: none;
  box-sizing: border-box;
  font-family: inherit;
  outline: none;
  border-radius: 0;
  transition: all 0.2s;
  z-index: 3;
}

button[type="roll"].sheet-skill-button.btn::before,
button[type="action"].sheet-skill-button.btn::before {
  content: "";
}

button[type="roll"].sheet-skill-button:hover,
button[type="action"].sheet-skill-button:hover {
  color: #466e6e;
}

button[type="roll"].sheet-skill-button.btn {
    font-variant: small-caps;
    font-size: 12px;
    font-weight: bold;
    color: #201821;
    text-transform: uppercase;
  }

.sheet-fullbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sheet-die {
  font-family: pictos;
  font-variant: normal;
  padding-right: 4px;
  text-transform: none;
}

/* CHECKBOXES */

label input[type="checkbox"],
label input[type="radio"] {
  position: absolute;
}

label:hover input[type="checkbox"] + span,
label:hover input[type="radio"] + span {
  opacity: 0.7;
}

input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  z-index: 1;
  -moz-appearance: none;
  vertical-align: unset;
  position: relative;
  width: 1px;
}

input[type="checkbox"] + span,
input[type="radio"] + span {
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s, opacity 0s;
}

input.sheet-checkbox {
    height: 12px;
    width: 12px;
    flex: 0 0 auto;
    margin-right: -12px;
  }
  
  .sheet-checkbox {
    /* square by default */
  }
  
  .sheet-checkbox + span {
    height: 12px;
    width: 12px;
    flex: 0 0 auto;
    background: white;
    border: 1px solid black;
  }
  
  .sheet-checkbox:checked + span {
    background: #d05222;
  }
  
  .sheet-checkbox:hover + span {
    opacity: 0.7;
  }
  
  .sheet-checkbox:checked ~ .sheet-colored-if-checked {
    color: #466e6e;
  }
  
  .sheet-checkbox:last-child + span {
    margin-right: 0 !important;
  }

  .sheet-checkbox.sheet-small {
    height: 10px;
    width: 10px;
    margin-right: -10px;
  }
  
  .sheet-checkbox.sheet-small + span {
    height: 10px;
    width: 10px;
  }
  
  .sheet-checkbox.sheet-large {
    height: 14px;
    width: 14px;
    margin-right: -14px;
  }
  
  .sheet-checkbox.sheet-large + span {
    height: 14px;
    width: 14px;
  }
  
  .sheet-floatingbar {
    width: 2px;
    height: 2px;
    flex: 0 0 auto;
  }
  
  /* Fake radios */
  .sheet-checkbox.sheet-fakeradio + span {
    background: #666666;
  }
  
  .sheet-fakeradio:checked ~ .sheet-fakeradio + span {
    background: white;
  }

/* COLUMN LAYOUT */
.sheet-flex {
    display: flex;
    padding-bottom: 10px;
}

.sheet-flex-bottom {
    display: flex;
    padding-bottom: 0px;
}

.sheet-flex-middle {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}

.sheet-colspace {
    margin-right: 8px; 
}

.sheet-col5 {
    width: 5%;
}

.sheet-col8 {
    width: 8%;
}

.sheet-col10 {
    width: 10%;
}
.sheet-col15 {
    width: 15%;
}
.sheet-col20 {
    width: 20%;
}
.sheet-col25 {
    width: 25%;
}
.sheet-col30 {
    width: 30%;
}
.sheet-col33 {
    width: 33%;
}
.sheet-col35 {
    width: 35%;
}
.sheet-col40 {
    width: 40%;
}
.sheet-col50 {
    width: 50%;
}
.sheet-col55 {
    width: 55%;
}
.sheet-col45 {
    width: 45%;
}
.sheet-col60 {
    width: 60%;
}
.sheet-col65 {
    width: 65%;
}
.sheet-col70 {
    width: 70%;
    padding-left: 5px;
}
.sheet-col75 {
    width: 75%;
}

.sheet-col76 {
    width: 76%;
}

.sheet-col80 {
    width: 80%;
}
.sheet-col85 {
    width: 85%;
}
.sheet-col90 {
    width: 90%;
}
.sheet-col95 {
    width: 95%;
}
.sheet-col100 {
    width: 100%;
}

/* Roll Templates */

.sheet-rolltemplate-mg-torch-ability .inlinerollresult {
  border: none !important;
  background-color: transparent;
  font-weight: bold;
  padding: 0 3px 0 0;
  font-family: 'Alegreya', serif;
  font-size: 50px;
  color: #fff;
}

.sheet-rolltemplate-mg-torch-ability .sheet-mg-torch-ability-roll .sheet-mg-torch-ability-roll-title {
  font-family: 'Alegreya', serif;
  text-align: left;
  color:#ca760c;
  font-size: 16px;
  position: relative;
  top: -30px;
  font-weight: 900;
  text-shadow: 2px 2px white;
}

.sheet-rolltemplate-mg-torch-ability .sheet-mg-torch-ability-roll .sheet-mg-torch-ability-roll-successtext {
  font-family: 'Alegreya', serif;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding-top: 4px;
  font-weight: 800;
}

.sheet-rolltemplate-mg-torch-ability .sheet-mg-torch-ability-roll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 30px 0 0;
  text-align: center;
  padding: 10px;
  width: 200px;
  height: 125px;
}

.sheet-rolltemplate-mg-torch-ability .sheet-mg-torch-ability-roll-fail {
  background-image: url("https://user-images.githubusercontent.com/58920692/99905274-ca5ae280-2cc7-11eb-86ef-01ca91d558ca.PNG");
  background-repeat: no-repeat;
  background-size: contain;
}

.sheet-rolltemplate-mg-torch-ability .sheet-mg-torch-ability-roll-success {
  background-image: url("https://user-images.githubusercontent.com/58920692/99905271-c929b580-2cc7-11eb-8381-fa0f8e97d561.PNG");
  background-repeat: no-repeat;
  background-size: contain;
}

/* mg-torch-armour */

.sheet-rolltemplate-mg-torch-armour .inlinerollresult {
  border: none !important;
  background-color: transparent;
  font-weight: bold;
  padding: 0 3px 0 0;
  font-family: 'Alegreya', serif;
  font-size: 50px;
  color: #fff;
}

.sheet-rolltemplate-mg-torch-armour .sheet-mg-torch-armour-roll .sheet-mg-torch-armour-roll-title {
  font-family: 'Alegreya', serif;
  text-align: left;
  color:#ca760c;
  font-size: 16px;
  position: relative;
  top: -30px;
  font-weight: 900;
  text-shadow: 2px 2px white;
}

.sheet-rolltemplate-mg-torch-armour .sheet-mg-torch-armour-roll .sheet-mg-torch-armour-roll-successtext {
  font-family: 'Alegreya', serif;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding-top: 4px;
  font-weight: 800;
}

.sheet-rolltemplate-mg-torch-armour .sheet-mg-torch-armour-roll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 30px 0 0;
  text-align: center;
  padding: 10px;
  width: 200px;
  height: 125px;
}

.sheet-rolltemplate-mg-torch-armour .sheet-mg-torch-armour-roll-fail {
  background-image: url("https://user-images.githubusercontent.com/58920692/100277362-f04be580-2f5a-11eb-8735-c4b4bc44c781.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.sheet-rolltemplate-mg-torch-armour .sheet-mg-torch-armour-roll-success {
  background-image: url("https://user-images.githubusercontent.com/58920692/100277362-f04be580-2f5a-11eb-8735-c4b4bc44c781.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* mg-torch-prayer */

.sheet-rolltemplate-mg-torch-prayer .sheet-container {
    width: 300px;
    font-weight: 600;
    font-family: 'Piazzolla', serif;
    color: #000;
    border-radius: 8px;
    font-size: 0.9em;
    background: url('https://user-images.githubusercontent.com/58920692/100075908-7cb1b780-2e38-11eb-83c9-2cfe3d01621b.png') top/100% 100% no-repeat;
}

.sheet-rolltemplate-mg-torch-spell .sheet-container {
    width: 300px;
    font-weight: 600;
    font-family: 'Piazzolla', serif;
    color: #000;
    border-radius: 8px;
    font-size: 0.9em;
    background: url('https://user-images.githubusercontent.com/58920692/100136767-5e24de00-2e83-11eb-9a85-20bf258cdee3.png') top/100% repeat-y;
}

.sheet-rolltemplate-mg-torch-prayer .sheet-container h1,
.sheet-rolltemplate-mg-torch-spell .sheet-container h1 {
    color: #340009;
    font-size: 1.2em;
    line-height: 20px;
    font-weight: 900;
    font-family: 'Alegreya', serif;
    text-align: center;
    text-transform: uppercase;
}

.sheet-rolltemplate-mg-torch-prayer .sheet-container h2,
.sheet-rolltemplate-mg-torch-spell .sheet-container h2{
    color: #A14426;
    font-size: 1.0em;
    line-height: 20px;
    font-weight: 900;
    font-family: 'Alegreya', serif;
    text-align: center;
    text-transform: uppercase;
}

.sheet-rolltemplate-mg-torch-prayer div,
.sheet-rolltemplate-mg-torch-spell div {
    padding: 2px;
}

.sheet-rolltemplate-mg-torch-prayer .sheet-man-title,
.sheet-rolltemplate-mg-torch-spell .sheet-man-title{
    font-weight: 900;
}

.sheet-rolltemplate-mg-torch-prayer .sheet-value,
.sheet-rolltemplate-mg-torch-spell .sheet-value {
    padding-left: 5px;
    padding-top: 5px;
}

.sheet-rolltemplate-default {
    background-color: #fff;
    width: 300px;
    font-weight: 500;
    font-family: 'Piazzolla', serif;
    border-radius: 8px;
    text-align: center;
}
.sheet-rolltemplate-default caption {
    color: #201821;
    font-size: 1.2em;
    line-height: 20px;
    font-weight: 700;
    font-family: 'Alegreya', serif;
    text-align: center;
    text-transform: uppercase;
    background-color: #F3E0B5;
    border: solid 2px #b33b1b;
}

.sheet-rolltemplate-default table {
    background: url("https://user-images.githubusercontent.com/58920692/100140036-4ac84180-2e88-11eb-86de-884d054e2754.PNG") right no-repeat;
    padding: 0px 30px 0px 30px;
    background-color: #F3E0B5;
}

.sheet-rolltemplate-default a[href^="~"] {
    background-color: transparent;
    padding: 0px;
    color: #ce0f69;
    display: inline-block;
    border: none;
    font-weight: 600;
}

.sheet-rolltemplate-default td:first-child {
    text-align: center;
    min-width: 1px;
    padding-right: 5px;
    padding-top: 5px;
}

.sheet-rolltemplate-default td {
    padding: 0px;
}

.sheet-rolltemplate-default table {
    border: none;
}